services:
  fastapi:
    build:
      context: ..
      dockerfile: api/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - ../outputs:/app/outputs
    environment:
      - PYTHONPATH=/app
    command: python -m uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    develop:
      watch:
        - action: sync
          path: ./app
          target: /app
